*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.col-9 .row .mx-auto .input-group i  {
    z-index: 100;
}
body .col-9 .dropdown{
    border-radius: 5px !important;
}
.dropdown input[data-bs-toggle]{
    border-radius: 5px;
}
.dropdown input:focus{
    outline: none !important;
    border: 0;
}
.dropdown .dropdown-menu{
    width: 100%;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translate(0px, 54px) !important;
    position: absolute;
    top: 0;
}
.dropdown .dropdown-item{
    width: 33%;
    cursor:pointer
}
.row .dropdown .dropdown-item :hover{
    color: red;
}
.input-container .toast{
    width: auto;
    cursor: pointer;
}
.card{
    width: 31.33%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    width: 150vw;
    font-size: .8em;
}
li{
    font-weight: bold;
}
li span{
    font-weight: normal !important;
}
.card, img{
    border-radius: .6em !important;
}
.card-text{
    font-size: .8em !important;
    width: 146vw;
    overflow: hidden;
}
.card .card-body{
    flex: unset;

}
.img-fluid{
    height: 208px !important;
}
.time{
    font-size: 1.3em;
    font-weight: 600;

}
.title{
    font-size: 1.4em;
}

